/* &display=swap */
@import "null.css";
@import url("https://fonts.googleapis.com/css?family=Lato:regular,700,900&display=swap");
body {
	font-family: Lato;
}
.wrapper {
	overflow: hidden;
	min-height: 100%;
}

.header {
}
.main {
}
.container {
	max-width: 810px;
	margin: 0 auto;
}
.title {
	margin: 0px 0px 90px 0px;
	padding: 190px 0px 0px 0px;
	font-size: 46px;
	font-weight: 900;
	line-height: 1.3;
}

.image {
	margin: 0px 0px 60px 0px;
}
.text_b {
	font-weight: 700;
	font-size: 20px;
	line-height: 1.5;
	margin: 0px 0px 24px 0px;
}
.text {
	line-height: 1.6;
	margin: 0px 0px 40px 0px;
}

.footnote {
	padding: 0px 0px 0px 58px;
	margin: 0px 0px 48px 0px;
}
.list {
	margin: 0px 0px 24px 0px;
}
.list__item {
	line-height: 1.6;
	margin: 0px 0px 4px 0px;
	padding: 0px 0px 0px 32px;
}

.footer {
}
